@import '../scss-modules/vars.scss';
@import '../scss-modules/mixins.scss';

.RecallForm{
	display: flex;
	flex-direction: column;
	width: 366px;
	&-header{
		background-color: #000;
		color: #fff;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include H2;
	}
	&-form{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: transparent;
		border: $border;
		height: 275px;
		justify-content: space-around;
		&__input{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		input{
			width:335px;
			border: $border;
			height: 50px;
			@include font;
			font-size: 30px;
			line-height: 32px;
			margin-top: 10px;
			padding-left: 10px;
		}
		.main_button{
			transition: ease-out 0.7s;
			cursor: pointer;
			padding: 0px;
		}
		.main_button:hover{
			box-shadow: inset 0 0 0 50px rgba(0,0,0,1);
			color: #fff;
			border-radius: 10px;
		}
	}
}