@import '../scss-modules/vars.scss';
@import '../scss-modules/mixins.scss';

.Portfolio{
	padding: 30px 150px 30px 150px;
	&-header{
		@include H2;
		height: 85px;
		background-color: $black;
		display: flex;
		justify-content: center;
		align-items:center;
	};
	&-grid{
		margin-top: 15px;
		margin-bottom: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;

		
		&_project{
			display: flex;
			justify-content: center;
			align-items: center;
			.hidden-information{
				display: none;
			}
		}
		&_project:hover{
			.hidden_information{
				display: block;
			}
		}
	}
	img{
		width: 270px;
		height: 135px;
		filter: blur(2px);
	}
	img:hover{
		filter: none;
	}
}