@import '../scss-modules/vars.scss';
@import '../scss-modules/mixins.scss';

.About{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 150px 0 150px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 15px;
	&-informationBlocks_header, &-whatWeDo_header{
		height: 85px;
		background-color: $black;
		color: $white;
		display: flex;
		justify-content: center;
		align-items:center;
		@include H2;
	}
	&-whatWeDo_text, &-informationBlocks_text{
		padding-top: 15px;
		font-size: 30px;
		line-height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		@include font;
	}
	&-whatWeDo{
		grid-column-start: 1;
		grid-column-end: 3;
	}
}