@import '../scss-modules/vars.scss';
@import '../scss-modules/mixins.scss';

.Header{
	background-color: $black;
	height: 105px;
	display: flex;
	justify-content: space-between;
	padding: 0 50px 0 50px;
	a,p{
		margin:0px;
		@include font;
		font-size: 24px;
		color: $white;
	}
	&-logo{
		display: flex;
		align-items: center;
		&_hidden{
			p{
				margin-top: 20px;
				align-item: flex-end;
				font-family: 'Sedgwick Ave', cursive;
				padding-left: 5px;
				overflow: hidden; /* Ensures the content is not revealed until the animation */
			  	white-space: nowrap; /* Keeps the content on a single line */
			  	letter-spacing: 3px; /* Adjust as needed */
			  	border-right: 2px solid $white;
			  	animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
		  	}
		}
		@keyframes typing {
		  from { width: 0 }
		  to { width: 100% }
		}

		@keyframes blink-caret {
		  from, to { border-color: transparent }
		  50% { border-color: $white; }
        }
	}
	nav{
		width:375px;
		display:flex;
		justify-content: space-between;
		align-self: flex-end;
		padding-bottom: 20px;
		ul{
			display: flex;
			width:375px;
			justify-content: space-between;
		}
		a{
			background-image: linear-gradient(#fff, #fff);
		    background-position: 0% 100%;
		    background-repeat: no-repeat;
		    background-size: 0% 2px;
		    transition: background-size 0.6s;
		}
		a:hover{
			background-size: 100% 2px;
			transition: .5s;
		}
		.checkbtn{
			  font-size: 30px;
			  color: white;
			  float: right;
			  line-height: 80px;
			  margin-right: 40px;
			  cursor: pointer;
			  display: none;
		}
		#check{
		    display: none;
		}
		@media (max-width: 858px){
			.checkbtn{
			    display: block;
			 }
			 ul{
			    position: fixed;
			    width: 100%;
			    height: 100vh;
			    background: #2c3e50;
			    top: 80px;
			    left: -100%;
			    text-align: center;
			    transition: all .5s;
			}
			#check:checked ~ ul{
			    left: 0;
			 }
		}

	}
	&-socialmedia{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		&__phonenumber{
			display: flex;
			align-items: center;
		    background-image: linear-gradient(#fff, #fff);
		    background-position: 0% 100%;
		    background-repeat: no-repeat;
		    background-size: 0% 2px;
		    transition: background-size 1s;
			p{
				padding-right: 5px;
			}
		}
		&__phonenumber:hover{
			background-size: 100% 2px;

		}
		&__icons{
			display: flex;
			justify-content: space-between;
			img{
				height: 35px;
				width: 35px;
			}
		}
	};
}