@import '../scss-modules/vars.scss';
@import '../scss-modules/mixins.scss';

.Banner{
	background-image: url(../../img/bg-main.jpg);
	height: 87vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 50px 0 50px;
	&-head{
		@include font;
		font-size: 72px;
		line-height: 77px;
		color: $white;
		margin:0;
	}
	&-head2{
		@include font;
		font-size: 48px;
		line-height: 51px;
		color: $white;
		margin: 20px 0 20px 0;
	}
	&-portfolio-button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 277px;
		height: 50px;
		border: 2px solid $white;
		box-sizing: border-box;
		background-color: transparent;
		@include font;
		font-size: 24px;
		line-height: 26px;
		color: $white;
		transition: ease-out 0.7s;
		cursor: pointer;
	}
	&-portfolio-button:hover{
		box-shadow: inset 0 0 0 50px $black;
		border-radius: 10px;
	}
}