@import 'vars.scss';


@mixin font{
	font-family: Ropa Sans;
	font-style: normal;
	font-weight: normal;
}

@mixin H2{
	h2{
		@include font;
		font-size: 30px;
		line-height: 32px;
		color: $white;
	}
}